.app {
  font-family: 'Roboto';

  text-align: center;
  &-container {
    display: block;
    position: relative;
    text-align: right;
  }
}

.container {
  max-width: 1800px;
  height: 1080px;
  margin: 0 auto;
  text-align: center;
}

.search-field {
  position: sticky;
  margin-right: -1400px;
  bottom: 100px;
  z-index: 10;
}
